.containerCards{
    width: auto;
    height: 500px;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 20px;
    /* border: 1px solid black; */
}

.card{
    width: 300px;
    height: auto;
    /* background-color: blueviolet; */
    margin-left: 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
;
}

.namePoke{
    width: auto;
    height: 45px;
    /* background-color: gray; */
    color: #569de8;
    margin-top: 20px;
    margin-bottom: 15px;
}

.imgPoke{
    /* width: 150px; */
    /* height: 150px; */
    /* background-color: hotpink; */
}

.info{
    width: auto;
    height: 70px;
    /* background-color: cadetblue; */
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    color: #888282;
    font-weight: bold;
    margin: 0px;
}

.type{
    width: auto;
    height: 25px;
    /* background-color: chartreuse; */
    margin-bottom: 10px;
}

.exp{
    width: auto;
    height: 25px;
    /* background-color: chartreuse; */
}