.containerCards{
    width: 1320px;
    height: auto;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 45px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.card{
    width: 239px;
    height: auto;
    /* background-color: blueviolet; */
    margin-left: 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    padding-top: 1px;
}

.namePoke{
    width: auto;
    height: 45px;
    /* background-color: gray; */
    color: #569de8;
    margin-top: 20px;
    margin-bottom: 15px;
}

.imgPoke{
    width: 150px; 
    height: 150px;
    /* background-color: hotpink; */
}

.info{
    width: auto;
    height: auto;
    /* background-color: cadetblue; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 25px
}

p{
    font-size: 20px;
    color: #888282;
    font-weight: bold;
    margin: 0px;
}

.type{
    width: auto;
    height: auto;
    /* background-color: chartreuse; */
    margin-bottom: 10px;
}

.exp{
    width: auto;
    height: 25px;
    /* background-color: chartreuse; */
}

.detalhes{
    width: auto;
    height: 280px;
    /* background-color: cadetblue; */
    margin-top: 20px;
    margin-bottom: 20px;
    
}